@font-face {
    font-family: 'Fz DucThuyThuphap Free';
    src: url('FzDucThuyThuphap-Free.woff2') format('woff2'),
        url('FzDucThuyThuphap-Free.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Henrimondeste */
@font-face {
    font-family: 'LNTH-HenriModeste';
    src: url('LNTH-HenriModeste-Demo.woff2') format('woff2'),
        url('LNTH-HenriModeste-Demo.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

